# Specify nyaa.si searches grouped by quarters.
# Fill this in and place it at ~/.seasonal-anime-rss.toml or ~/.config/seasonal-anime-rss/config.toml
# Searches will automatically stop running 2 weeks after the end of the quarter,
# in case you forget to remove them.
# When dealing with groups with very slow releases you'll want to
Title = 'Seasonal Anime Torrents'

# Use ongoing to specify long running shows or releases from slow groups.
# These will be run indefinitely so be sure to manually remove them when done.
ongoing = [
]

# Specify the season when the show ends, not starts.
# Example specifying two searches for 2019Q3 (summer season) that will run until October 14th 2019.
# 2019Q3 = [
#   "mad machikado",
#   "gjm accelerator",
# ]

